*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Ubuntu';
    
   
}

body{
    
 display: flex;
 justify-content: flex-start;
 min-height: 100vh;
 align-items: center;
 background-color: #081b29;
 overflow: hidden;

 
}

.wrapper{
    display: flex;
    border: 2px solid #0ef;
    border-right: none;
    width: 617px;
    height: 650px;
    justify-content:center; 
    align-items: center;
    
    
    
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    
}
#log{
    display: flex;
    position: relative;
    bottom: 77px;
    justify-content: center;
    font-weight: bolder;
    color: white;
    font-size:40px;
    font-family: sans-serif;
    
}
#user{
   position: relative;
   bottom:20px;
   color: antiquewhite;
   font-size: 20px;
   border-bottom: 3px solid white;
   

}
#pass{
    border-bottom: 3px solid white;
   position: relative;
   bottom:20px;
   color: antiquewhite;
   font-size: 20px;
   background: transparent;
   top:5px;
   
}
#user input{
    border-style: none;
    background: transparent;
    width: 300px;
   
    outline: none;
    color: white;
 }
#pass input{
   border-style: none;
   background: transparent;
   width: 300px;
   outline: none;
   color: white;
}
::placeholder{
    color: white;

}
input:focus::placeholder {
    color: transparent;
  }

 #butt{
   position: relative;
   width: 300px;
   height:45px;
   top: 50px;
   background: transparent;
   outline: none;
   border-radius: 40px;
   color: white;
   font-weight: bold;
   background: linear-gradient(#0ef,#081b29);
   cursor: pointer;
 }
 #butt:hover{
    background: linear-gradient(#081b29,#0ef); 
 }
 #sign{
    display: flex;
    color: white;
    flex-direction: column;
    position: relative;
    top: 60px;
}
#sign a{
    list-style: none;
    color: #0ef;
   text-decoration: none;
}
 .info{
    display: flex;
    flex-direction: column;
    border: 2px solid #0ef;
    border-left: none;
    height: 650px;
    width: 757px;
    justify-content: center;
    text-align: right;
    padding: 0 40px 60px 190px;
    
}
#heading2{
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    line-height: 1.3;
    z-index: 1;
    position: relative;
    bottom: 23px;
}
#para{
    color: white;
    position: relative;
    bottom: 13px;
    z-index: 1;
   
}
 #sheet{
    overflow: hidden;
    display: flex;
    height: 790px;
    width: 1051px;
    position: absolute;
    top: -11px;
    background: linear-gradient(#0ef,#081b29);
    border: 3px solid #0ef;
    transform: rotate(10deg) skewY(30deg);
    transform-origin: bottom right;
    right: 3px;
    z-index: -2;
    
}



 




