*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Ubuntu';
}

body{
 display: flex;
 justify-content: flex-start;
 min-height: 100vh;
 align-items: center;
 background-color: #081b29;
}

.wrapper{
    display: flex;
    border: 2px solid #0ef;
    width: 560px;
    height: 560px;
    justify-content:center; 
    align-items: center;
    overflow: hidden;
    
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}
#log{
    display: flex;
    position: relative;
    bottom: 77px;
    justify-content: center;
    font-weight: bolder;
    color: white;
    font-size:40px;
    font-family: sans-serif;
}
#user{
   position: relative;
   bottom:20px;
   color: antiquewhite;
   font-size: 20px;
   border-bottom: 3px solid white;

}
#pass{
    border-bottom: 3px solid white;
   position: relative;
   bottom:20px;
   color: antiquewhite;
   font-size: 20px;
   background: transparent;
   top:5px;
   
}
#user input{
    border-style: none;
    background: transparent;
    width: 300px;
   
    outline: none;
    color: white;
 }
#pass input{
   border-style: none;
   background: transparent;
   width: 300px;
   outline: none;
}
::placeholder{
    color: white;

}
input:focus::placeholder {
    color: transparent;
  }

 #butt{
   position: relative;
   width: 300px;
   height:45px;
   top: 50px;
   background: transparent;
   outline: none;
   border-radius: 40px;
   color: white;
   font-weight: bold;
   background: linear-gradient(#0ef,#081b29);
   cursor: pointer;
 }
 #butt:hover{
    background: linear-gradient(#081b29,#0ef); 
 }
 #sign{
    display: flex;
    color: white;
    flex-direction: column;
    position: relative;
    top: 60px;
}
#sign a{
    list-style: none;
    color: #0ef;
   text-decoration: none;
}
 .info{
    display: flex;
    flex-direction: column;
    border: 2px solid #0ef;
    height:560px;
    width: 682px;
    justify-content: center;
    text-align: right;
    padding: 0 40px 60px 190px;
}
#heading2{
 font-size: 36px;
 color: white;
 text-transform: uppercase;
 line-height: 1.3;
 z-index: 1;
 position: relative;
 bottom: 196px;
}
#para{
    color: white;
    position: relative;
    bottom: 194px;
    z-index: 1;
    
   
}
 .bg-animate{
    display: flex;
    border: 2px solid red;
    height: 700px; 
    width: 459px;
   
    background: linear-gradient(#0ef,#081b29);
   

  
  
  
  
}



 




